@CHARSET "ISO-8859-1";

.colorgraph {
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

.float-left {
	float: left;
}
.float-right {
	float: right;
}
.float-clear {
	clear: both;
}

#cart {
	text-align: right;
}

.center {
	text-align: center;
}
.fill {
	max-width: 90%;
}
.fold {
	width: 1px;
	white-space: nowrap;
}
.product-list .fill {
	max-height: 12em;
}
.price .flag {
	margin-top: -5px;
}

.product-id-table td, .product-id-table th {
	padding: 1px;
}
.product-list .row {
	margin-bottom: 5px;
}
.shopping-bag {
	margin-top: 2em;
}
.shopping-bag th {
	font-size: 1.1em;
	font-weight: bold;
}
.shopping-bag > tbody > tr {
	border-bottom: 1px solid #999;
}
.shopping-bag input {
	width: 6em;
}
.btn-bag-plus {
	padding: 1px 2px 0px 4px;
    border-radius: 12px;
}
.btn-bag-minus {
	margin-left: 2px;
	padding: 1px 3px 0px 3px;
    border-radius: 12px;
}
.next-step {
	margin-left: 6em;
	margin-right: 6em;
}
.next-step > * {
	margin-top: 8pt;
}
.table>tfoot>tr>td, .table>tfoot>tr>th {
	border: 0;
}
.order-tabs {
	margin-bottom: 2em;
}
.next-step .confirm {
	line-height: 2.5em;
	padding-left: 2.5em;
}
.next-step .confirm input {
	width: auto;
	height: 2em;
	width: 2em;
    margin-left: -2.5em;
    cursor: pointer;
}
.next-step p {
	text-align: center;
}
.double-input {
	margin-top: -19px;
}
.no-weight {
	font-weight: normal;
}
.pagination-block {
	text-align: center;
}
.pagination-block .pagination {
	vertical-align: middle;
}
.pagination-block .info {
	padding-left: 12pt;
	padding-right: 12pt;
}

/* Override Bootstrap */
.nav-justified {
	max-height: none !important;
}
.nav > li.disabled > a:hover {
    cursor: default;
    border-color: transparent;
}

/* Filter box */
.search-filter {
    background-color: #eee;
    padding: 1em;
    border-radius: 1em;
}