@CHARSET "ISO-8859-1";

.colorgraph {
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

.float-left {
	float: left;
}
.float-right {
	float: right;
}
.float-clear {
	clear: both;
}

.center {
	text-align: center;
}
.fill {
	max-width: 90%;
}
.product-list .fill {
	max-height: 12em;
}
.price .flag {
	margin-top: -5px;
}

.product-id-table td, .product-id-table th {
	padding: 1px;
}
.product-list .row.i {
	background-color: #c4e17f;
}
.product-list .row.ii {
	background-color: #f7fdca;
}
.product-list .row.iii {
	background-color: #fecf71;
}
.product-list .row.iv {
	background-color: #f0776c;
}
.product-list .row.v {
	background-color: #db9dbe;
}
.product-list .row.vi {
	background-color: #c49cde;
}
.product-list .row.vii {
	background-color: #669ae1;
}
.product-list .row.viii {
	background-color: #62c2e4;
}